.button {
      display: inline-block;
      padding: 10px 20px;
       background: linear-gradient(to right,#007bff,#2dfbfb); /* Button background color */
      color: #fff; /* Button text color */
      text-decoration: none; /* Remove underline from the link */
      border: none; /* Remove button border */
      border-radius: 15px; /* Rounded corners */
      cursor: pointer; /* Cursor style on hover */
      font-size: 10px;
      transition: 0.5s;
    }

    /* Style for the button on hover */
.button:hover {
    color: #000000; /* Button background color on hover */
    font-size: 15px;
}